<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/mixr_logo.jpg" width="30" height="30" class="d-inline-block align-top" alt=""> miXr
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/recipes/finder">Drink Finder
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes/browse">Browse Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes/create">Create Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients/browse">Browse Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients/create">Create Ingredient</a>
      </li>
    </ul>
  </div>
</nav>